<!DOCTYPE html>
<html>
<head>
  <title>Symptom Checker</title>
  <link rel="stylesheet" href="/public/bootstrap.min.css" >
  <link rel="stylesheet" href="/public/app.css" >
  <link rel="stylesheet" href="/public/home.css">
  <link rel="stylesheet" href="/public/skel.css">
  <link rel="stylesheet" href="/public/style-xlarge.css">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="/public/search.css">
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <link data-require="font-awesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
  <script data-require="angular.js@1.5.3" data-semver="1.5.3" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script data-require="ui-bootstrap@*" data-semver="1.3.2" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-1.3.2.js"></script>
  <!-- <script src="../jquery/main.module.js"></script> -->
</head>
<body>
<header class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="/Homepage" class="w3-bar-item w3-button">Doc Doc!</a>
            <div class="w3-right w3-hide-small">
            <a href="./RunDiagnosis.html" class="w3-bar-item w3-button">Diagnosis</a>
            <a href="/maps" class="w3-bar-item w3-button">Find a Clinic!</a>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">feature</a>
                <a href="#">feature</a>
                <a href="#">feature</a>
                <a href="./Login.html">Login</a>
                </div>
                <span style="cursor:pointer" class="w3-bar-item w3-button" onclick="openNav()">Others</span>
            </div>
        </div>
        </header>
  <div class="wrapper">
    <h1 class="subheader-text"><small>Symptoms</small></h1>
    <h1 class="header-text">Symptom Checker</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <nav>
          <ul class="pagination">
            <li class="active">
              <a href="#">
                <h2 class="header-text">1</h2>
                <p>Choose a symptom</p>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="disabled">
              <a href="#">
                <h2 class="header-text">2</h2>
                <p>View possible Disease</p>
              </a>
            </li>
          </ul>
        </nav>
        
        <!-- <form autocomplete="off" action="">
            <div class="autocomplete" style="width:300px;" onclick="newElement()">
              <input id="myInput" type="text" name="Disease" placeholder="Disease">
            </div>
            <input type="submit">
        <ul id="myUL">
          <li  class="checked rand" style="display: none;"></li>
        </ul>
          </form> -->
          <form action="/SymptomCheker1" style="margin-top: 7%;
          margin-left: 30%;
          margin-right: 30%;" method="POST" >
              Itching: <input type="text" id="0" name="a"><br>
              Skin Rash: <input type="text" id="1" name="b"><br>
              Nodal Skin: <input type="text" id="2" name="c"><br>
              Continous sneezing: <input type="text" id="3" name="d"><br>
              Shivering: <input type="text" id="4" name="e"><br>
              Chills: <input type="text" id="5" name="f"><br>
              Joint Pain: <input type="text" id="6" name="g"><br>
              Stomach Pain: <input type="text" id="7" name="h"><br>
              Acidity: <input type="text" id="8" name="i"><br>
              Ulcers on tounge: <input type="text" id="9" name="j"><br>
              Muscle Wasting: <input type="text" id="10" name="k"><br>
              Vomiting: <input type="text" id="11" name="l"><br>
              Burning: <input type="text" id="12" name="m"><br>
              Spotting Urination: <input type="text" id="13" name="n"><br>
              fatique: <input type="text" id="14" name="o"><br>
              Weight gain: <input type="text" id="15" name="p"><br>
              Axiety: <input type="text" id="16" name="q"><br>
              Cold hands and fits: <input type="text" id="17" name="r"><br>
              Mood Swings: <input type="text" id="18" name="s"><br>
              Weight Loss: <input type="text" id="19" name="t"><br>
              <br>
              <input type="submit" value="Submit">
            </form>
            <!-- <script>
                function myFunction(myCheck) {
                  var checkBox = document.getElementById(myCheck);
                  var text = document.getElementById("text");
                  if (checkBox.checked == true){
                    text.style.display = "block";
                  } else {
                     text.style.display = "none";
                  }
                }
                myFunction('0');
                myFunction('1');
                myFunction('2');
                myFunction('3');
                myFunction('4');
                myFunction('5');
                myFunction('6');
                myFunction('7');
                myFunction('8');
                myFunction('9');
                myFunction('10');
                myFunction('11');
                myFunction('12');
                myFunction('13');
                myFunction('14');
                myFunction('15');
                myFunction('16');
                myFunction('17');
                myFunction('18');

                </script> -->
      </div>
    </div>
  </div>

  <script src="../../public/Drop.js"></script>
  <script src="../../public/search.js"></script>
  <script src="../../public/Todo.js"></script>
</body>
</html>
