<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <p>
            <label for="a">a:</label>
            <input type="number" name="a" placeholder="a"/>
        </p>
        <p>
            <label for="b">b:</label>
            <input type="number" name="b" placeholder="b"/>
        </p>
        <p>
            <label for="c">c:</label>
            <input type="number" name="c" placeholder="c"/>
        </p>
        <p>
            <label for="d">d:</label>
            <input type="number" name="d" placeholder="d"/>
       </p>
        <p>
            <label for="e">e:</label>
            <input type="number" name="e" placeholder="e"/>
        </p>
        <p>
            <label for="f">f:</label>
            <input type="text" name="f" placeholder="f"/>
        </p>
        <p>
            <label for="g">g:</label>
            <input type="text" name="g" placeholder="g"/>
        </p>
        <p>
            <label for="h">h:</label>
            <input type="number" name="h" placeholder="h"/>
        </p>

        <input  type="submit" value="Submit" />

    </form>
</body>
</html>