<!DOCTYPE html>
<html>
<title>DOC DOC!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/home.css">
<link rel="stylesheet" href="/public/skel.css">
<link rel="stylesheet" href="/public/style-xlarge.css">
<link rel="stylesheet" href="/public/style.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;
background-color:#e6e6e6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>
<div>
<header class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/Homepage" class="w3-bar-item w3-button">Doc Doc!</a>
    <div class="w3-right w3-hide-small">
      <a href="/RunDiagnosis" class="w3-bar-item w3-button">Diagnosis</a>
      <a href="/maps" class="w3-bar-item w3-button">Find a Clinic!</a>
      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">feature</a>
          <a href="#">feature</a>
          <a href="#">feature</a>
          <a href="/">Login</a>
        </div>
        <span style="cursor:pointer" class="w3-bar-item w3-button" onclick="openNav()">Others</span>
    </div>
  </div>
</header>
<div style="align-content: center;align-items: center;">
<form action="/SymptomCheker" method="GET">
<button type="submit" class="button1">Symptom Checker</button></form>
<form action="/bad" method="GET">
<button class="button2">How Bad Is it!</button></form>
</div>
</div>
<script>
    function openNav() {
       document.getElementById("mySidenav").style.width = "250px";
     }
     
     function closeNav() {
       document.getElementById("mySidenav").style.width = "0";
     }
    </script>
</body>
</html>




























